.answerSection {
  -webkit-box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.50);
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

input {
  background-color: #f8f8f8;
  height: 30px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  border: none;
  border-radius: 4px;
  padding: 0 5px;
  text-align: center;
}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.playBtn {
  color: white;
  background-color: rgb(75, 174, 255);
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
}

.playBtn:hover {
  background-color: rgb(70, 162, 238);
}

.playBtn:focus {
  outline-color:  rgb(140, 190, 231);
}

.playBtnSvg {
  width: 10px;
  height: 10px;
}