body {
  overflow: hidden;
}

p, h1, h2, label {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.jpText {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 223, 228);
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 0;
}

.title {
  z-index: 1;
  position: absolute;
  top: 0;
}

.playArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.settings {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.settingsToggle {
  width: 50%;
  height: 15vh;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

input[type=number] {
  background-color: #f8f8f8;
  height: 30px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.50);
  border: none;
  border-radius: 4px;
  padding: 0 5px;
  text-align: center;
}

input[type=number]:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}